.Button {
  color: #D8D5DB;
  background-color: #2D3142;
  border: solid 1px #931aad;
  border-radius: 20px;
}

.Button:hover {
  color: #D8D5DB;
  background-color: #931aad;
  border: solid 1px #931aad;
  border-radius: 20px;
}

.Button:hover:active {
  background-color: #931aad !important;
  border: solid 1px #931aad !important;
  border-radius: 20px !important;
}

.Button:active {
  background-color: #931aad !important;
  border: solid 1px #931aad !important;
  border-radius: 20px !important;
}

.Button:focus {
  background-color: #931aad;
}

.ActiveButton {
  color: #2D3142;
  background-color: #D8D5DB;
  border: solid 1px #931aad;
  border-radius: 20px;
}

.ActiveButton:hover {
  color: #D8D5DB;
  background-color: #931aad;
  border: solid 1px #931aad;
  border-radius: 20px;
}

.ActiveButton:hover:active {
  background-color: #931aad !important;
  border: solid 1px #931aad !important;
  border-radius: 20px !important;
}

.ActiveButton:active {
  background-color: #931aad !important;
  border: solid 1px #931aad !important;
  border-radius: 20px !important;
}

.ActiveButton:focus {
  background-color: #931aad;
}