.NavigationBar {
    background-color: #B0D7FF;
    border-bottom: solid 1px #c7a2d2;
}

.NavLink {
    padding: 30px;
    color: #301934;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: solid 1px transparent;
    margin-bottom: 4px;
}

.NavLink:hover {
    text-decoration: none;
    color: #931aad;
    border: solid 1px #c7a2d2;
    border-radius: 5px;
}

.Active {
    color: #931aad;
}

.PostTypes {
    background-color: #D8D5DB;
    margin-top: 50px;
    border: 1px solid #2d3142;
}