.Post {
  background-color: #D8D5DB;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  border: 1px solid #2D3142;
  border-radius: 10px;
}

.Title {
  font-weight: 700;
  letter-spacing: 2px;
}

.TextPanel {
  background-color: #eae8ff;
  border: 1px solid #ADACB5;
  border-radius: 10px;
  margin-top: 10px;
}

.Image {
  max-height: 400px;
  margin-top: 20px;
}

@media screen and (max-width: 450px) {
  .Post {
    padding: 10px;
  }
  
  .Date {
    letter-spacing: normal;
  }
}