.Card {
  background-color: #D8D5DB;
  padding: 25px;
  margin-top: 50px;
  border: 1px solid #2D3142;
  border-radius: 25px;
}

.Fields {
  width: 70%;
  text-align: center;
}

.Image {
  max-width: 700px;
  border: 20px #b0d7ff solid;
}

.Title {
  font-size: 150%;
  font-weight: 700;
  letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
  .Fields {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .Image {
    max-width: 90%;
    border: 1px #b0d7ff solid;
  }
}